
fieldset{
    background:#1F48FF;
    font-size: 18px;
    }

legend{
    border:2px solid #0080FF;
    color:#FFFFFF;
    background-color: #0000FF;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    }


label{
    float:left;
    width:25%;
    text-align:right;
    padding: 14px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    }

input[type="text"],[type="password"],textarea,select{
    width: 50%;
}

input[type="text"],[type="password"],select{
    padding: 12px 20px;
    margin: 8px 0;
    background-color: white;
    box-sizing: border-box;}

textarea {
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #0000FF;;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}

table select{
    width: 100%;
}

table {
    width: 75%;
    border: 1px solid #000000;
    margin: 0 auto 0 auto;
 }

th {
   background-color:#FFFFFF;
 }
  
td {
   background-color:#0080FF;
 }

/* Style Barra de menu horizontal Dropdown */
.dropbtn {
    background-color: #0000FF;/*cambia el color de la barra de menu*/
    color: white;/*cambia el color de las letras de la barra de menu*/
    padding: 16px;
    font-size: 18px;
    width:250px ;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 18px;
    display: none;
    position: absolute;
    background-color: #0080FF;/*cambia el color del submenu*/
    min-width: 250px;/*Cambia el tamaï¿½o de los submenus*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #0000FF;/*cambia el color de la seleccion del submenu*/
    }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0080FF;/*cambia el color del boton de seleccion*/
}
